*{box-sizing:border-box}
body{background-color:black}
.container {background-color:lightgray;max-width:900px;margin:0 auto}

h1{font-size:35px}
.left-column{width: 25%;}
.left-column p{margin:10px auto 10px auto;}
.left-column a{font-weight:bold;font-size:17px}
.author-title{font-style:italic}
.right-column {font-size:15px;width:75%}
.caption{font-size:10px;color:darkgrey;padding-top:10px;}
