*{box-sizing:border-box}
body{background-color:black}
.container {background-color:lightgray}
.left-column p{margin:10px auto 10px auto}
.left-column a{font-weight:bold;font-size:17px}
.author-title{font-style:italic}
.right-column {font-size:15px}
.caption{font-size:10px;color:darkgrey;padding-top:10px;}
